[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "cleaR"]
	path = cleaR
	url = https://github.com/joundso/clear
[submodule "requiRements"]
	path = requiRements
	url = https://github.com/joundso/requirements
